{% extends "base.html" %}

{% block content %}
<div class="column is-5 is-offset-4">
    <h3 class="title is-3">Silly Song</h3>
    <div class="box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="notification is-danger">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST">
            <div class="field">
                {{ form.csrf_token() }}
                <div class="control">
                    {{ form.title(class="input", placeholder="Title") }}
                    {% for error in form.title.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{ form.artist(class="input", placeholder="Artist") }}
                    {% for error in form.artist.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
            </div>
            <div>
                {{ form.submit(class="button is-info is-centered") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}