{% extends "base.html" %}
{% block content %}
    <h1 class="title is-1" style="padding: 30px">Contact</h1>
    <p class="subtitle is-3">This project was made by the Newcastle Cyber Society Committee team at Durhack 2023 <em>(4-5 November).</em></p>
    <p class="subtitle is-3">See more on our <u><em><a href="https://cybersoc.org.uk/">website</a></em></u>.</p>
    <p class="subtitle is-3">If you have any questions, please contact us at <u><em><a href="mailto:cybersoc@newcastle.ac.uk">cybersoc@newcastle.ac.uk</a></em></u>.</p>
{% endblock %}